<a href="https://colab.research.google.com/github/kaustavr19/Data-Science_ML----Projects-Resources/blob/main/Projects/Breast%20Cancer/Breast_Cancer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#Load the data
from google.colab import files
upload = files.upload()
df = pd.read_csv('data.csv')
df.head(7)

Saving data.csv to data (1).csv

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN
5    843786         M  ...                  0.12440          NaN
6    844359         M  ...                  0.08368          NaN

[7 rows x 33 columns]

In [5]:
#no. of rows clos in the dataset
df.shape

(569, 33)

In [ ]:
#no. of empty values in each col.