In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge, Lasso

In [3]:
path = r"K:\\KaustavR25\\SKILLZ\\Data Science & Analysis, ML\\indian ai prod\\bangalore house price prediction OHE-data.csv"
df = pd.read_csv(path)

In [4]:
df.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [5]:
X = df.drop('price', axis=1)
y = df['price']

print('Shape of X = ', X.shape)
print('Shape of y = ', y.shape)

Shape of X =  (7120, 107)
Shape of y =  (7120,)

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=51)

print('Shape of X_train = ', X_train.shape)
print('Shape of y_train = ', y_train.shape)
print('Shape of X_test = ', X_test.shape)
print('Shape of y_test = ', y_test.shape)

Shape of X_train =  (5696, 107)
Shape of y_train =  (5696,)
Shape of X_test =  (1424, 107)
Shape of y_test =  (1424,)

In [7]:
sc = StandardScaler()
sc.fit(X_train)
X_train = sc.transform(X_train)
X_test = sc.transform(X_test)

In [8]:
rd = Ridge()

rd.fit(X_train, y_train)

Ridge()

In [9]:
rd.score(X_test, y_test)

0.7905686374336629

In [10]:
ls = Lasso()

ls.fit(X_train, y_train)

Lasso()

In [11]:
ls.score(X_test, y_test)

0.8036373003525774

In [12]:
rd2 = Ridge(alpha=2)

rd2.fit(X_train, y_train)

rd2.score(X_test, y_test)

0.790753026039794

In [13]:
ls2 = Lasso(alpha=2)

ls2.fit(X_train, y_train)

ls2.score(X_test, y_test)

0.8160181533703601

In [14]:
ls3 = Lasso(alpha=3)

ls3.fit(X_train, y_train)

ls3.score(X_test, y_test)

0.8263450613017426